body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

input {
    color: #fff;
}

input:focus {
    outline: none;
    color: #fff;
    border-color: #fff;
}

input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
input:focus:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1170px;
    padding: 0 15px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-center {
    text-align: center;
}

.arrow {
    font-size: 35px;
    color: #fff;
}

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.button {
    border-radius: 2px;
    border: 1px solid #15a4fa;
    background: none;
}

.button:hover {
    background-color: #15a4fa;
    cursor: pointer;
}

.button__text {
    color: #fff;
    font-size: 18px;
}

.top__background {
    background-color: #f6f9f9;

}

.top__logo {
    padding: 32px 0 31px 42px;
    margin: 0 auto;
}

.representation__background {
    background-image: url(../img/background1.jpg);
    background-size: cover;
}

.representation__padding {
    padding: 210px 0 91px 0;
}

.representation__title {
    width: 600px;
    margin: 0 auto 40px;
    padding-bottom: 34px;
    border-bottom: 2px solid #15a4fa;
    letter-spacing: 3px;
    line-height: 70%;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.representation__text {
    color: #fff;
    font-size: 20px;
}

.representation__button{
    padding: 20px 34px;
    margin: 65px 0 179px 0 ;
}

.info__background {
    background-color: #f6f9f9;
}

.info__block {
    padding: 81px 0 110px 0;
}

.info__title,
.portfolio__title,
.contact-us__title {
    color: #2d3950;
    font-size: 40px;
    letter-spacing: 1px;
}

.info__title,
.portfolio__title,
.contact-us__title {
    color: #2d3950;
    font-size: 40px;
    letter-spacing: 1px;
}

.info__title,
.portfolio__title {
    color: #2d3950;
}

.info__text {
    padding-top: 31px;
    color: #999999;
    font-size: 20px;
    line-height: 32px;
}

.vista__background {
    background-color: #fff;
}

.vista__block {
    display: flex;
    justify-content: center;
}

.vista__item {
    margin: 43px;
}

.vista__icon {
    text-shadow: 1px 1px 1px rgba(2, 2, 2, 0.4);
    color: #fff;
    font-size: 40px;
}

.vista__icon-background {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 2px;
    background: repeating-linear-gradient(90deg, #48baff 50%, #5fc3ff 100%);
}

.vista__title {
    padding: 32px 0 22px 0;
    color: #2d3950;
    font-size: 22px;
}

.vista__text {
    font-size: 15px;
    color: #999999;
}

.portfolio__background {
    background-color: #f6f9f9;
}

.portfolio__block {
    padding-top: 81px;
    padding-bottom: 116px;
}

.portfolio__text,
.contact-us__text,
.footer__text {
    color: #999999;
    font-size: 15px;
}

.portfolio__text {
    display: block;
    padding: 22px 0 80px 0;
}


.portfolio__img-container {
    position: relative;
    margin-bottom: 30px;
}

.portfolio__overlay-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #15a4fa;
}

.portfolio__img-container:hover .portfolio__overlay-icon {
    opacity: 0.9;
}

.portfolio__img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio__icon {
    margin: 6px;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    background-color: #15a4fa;
}

.contact-us__title {
    color: #fff;
}

.contact-us__text {
    display: block;
    padding-top: 22px;
    padding-bottom: 52px;
}

.contact-us__background {
    background: linear-gradient(
            rgba(45, 57, 80, 0.9),
            rgba(45, 57, 80, 0.9)
    ), url(../img/background2.jpg)  top center no-repeat;
    background-size: cover;
}

.contact-us__block {
    padding: 74px 0 111px 0;
}

.contact-us__label {
    margin-bottom: 22px;
}

.contact-us__input-name,
.contact-us__input-email,
.contact-us__input-massage {
    width: 100%;
    padding-top: 25px;
    padding-left: 20px;
    border-radius: 2px;
    border: 1px solid #999999;
    font-size: 15px;
    background: none;
}

.contact-us__input-name,
.contact-us__input-email {
    padding-bottom: 25px;
}

.contact-us__input-massage {
    padding-bottom: 121px;

}

.contact-us__form-container {
    width: 553px;
    margin: 0 auto;
    box-sizing: border-box;

}

.contact-us__form-checkbox-box {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #9aa1ab;
    background-color: #f6f9f9;
}


.contact-us__form-checkbox-text {
    color: #fff;
    font-size: 15px;
}



.contact-us__form-button {
    padding: 16px 50px;
    color: #fff;
    font-size: 18px;
}

.footer__background {
    background-color: #f6f9f9;
}

.footer__block {
    padding: 25px 0;
    align-content: center;
}

.footer__text {
    display: block;
}

.footer__icon {
    width: 40px;
    height: 40px;
    color: #fff;
}

.footer__img-fb {
    border-radius: 2px;
    background-color: #3b5998;
}

.footer__img-tw {
    border-radius: 2px;
    background-color: #55acee;
}

.footer__img-g {
    border-radius: 2px;
    background-color: #dd4b39;
}

.footer__img-in {
    border-radius: 2px;
    background-color: #0976b4;
}

.footer__icon-text {
    margin: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.footer__img-fb:hover,
.footer__img-tw:hover,
.footer__img-g:hover,
.footer__img-in:hover {
    background-color: #15a4fa;
}
